# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from urllib.parse import quote_plus
from pprint import pprint 
import json
from os import path

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
# output_data_file = "output_data/cities.csv"
output_data_file = path.join("output_data", "cities.csv")

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding latitude/longitude (lat_lng) and cities
lat_lngs = []
cities = []


# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

614

In [3]:
# creating an empty list 
city_data = []

In [4]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key + "&q=" + city
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7af1d12a1c4e0e958b9f4a3231142e8e&q=nizhneyansk

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [5]:
for city in cities: 
    try:
        r = requests.get('http://api.openweathermap.org/data/2.5/weather', params={'q': city, 'appid': weather_api_key})
        r_data = r.json()
        #Creating variables for the JSON object   
        c_ID = r_data["id"]
        name = r_data["name"]
        lat= r_data["coord"]['lat']
        lon= r_data["coord"]['lon']
        maxtemp = r_data["main"]['temp_max']
        humidity = r_data["main"]["humidity"]
        clouds = r_data["clouds"]['all']
        windSpeed = r_data["wind"]['speed']
        country = r_data["sys"]["country"]
        date = r_data['dt']
        pprint(f'Evaluating city number: {c_ID}, {r_data["name"]}')
#creating a list of dictionaries to build the dataframe         
        city_data.append({
                "City" : name,
                "Lat" : lat,    
                "Lng" : lon,
                "Max Temp" : maxtemp,
                "Humidity" : humidity,
                "Cloudiness" : clouds,
                "Wind Speed" : windSpeed,
                "Country" : country,      
                "CityDate" : date
       })
        pprint(f'Appending {name} to "city_data"')
    except KeyError:
        pass

'Evaluating city number: 6185377, Yellowknife'
'Appending Yellowknife to "city_data"'
'Evaluating city number: 5106841, Albany'
'Appending Albany to "city_data"'
'Evaluating city number: 1805270, Jishou'
'Appending Jishou to "city_data"'
'Evaluating city number: 3833367, Ushuaia'
'Appending Ushuaia to "city_data"'
'Evaluating city number: 964420, Port Elizabeth'
'Appending Port Elizabeth to "city_data"'
'Evaluating city number: 4031574, Provideniya'
'Appending Provideniya to "city_data"'
'Evaluating city number: 2742765, Areosa'
'Appending Areosa to "city_data"'
'Evaluating city number: 1490256, Talnakh'
'Appending Talnakh to "city_data"'
'Evaluating city number: 1800521, Minggang'
'Appending Minggang to "city_data"'
'Evaluating city number: 1621313, Ambulu'
'Appending Ambulu to "city_data"'
'Evaluating city number: 4035715, Avarua'
'Appending Avarua to "city_data"'
'Evaluating city number: 5122534, Jamestown'
'Appending Jamestown to "city_data"'
'Evaluating city number: 4020109, Atuona'
'Appending Atuona to "city_data"'
'Evaluating city number: 1015776, Bredasdorp'
'Appending Bredasdorp to "city_data"'
'Evaluating city number: 2071860, Esperance'
'Appending Esperance to "city_data"'
'Evaluating city number: 3874787, Punta Arenas'
'Appending Punta Arenas to "city_data"'
'Evaluating city number: 1698354, Namuac'
'Appending Namuac to "city_data"'
'Evaluating city number: 1337606, Eydhafushi'
'Appending Eydhafushi to "city_data"'
'Evaluating city number: 3366880, Hermanus'
'Appending Hermanus to "city_data"'
'Evaluating city number: 3390581, Riachão'
'Appending Riachão to "city_data"'
'Evaluating city number: 1006984, East London'
'Appending East London to "city_data"'
'Evaluating city number: 582816, Alekseyevskaya'
'Appending Alekseyevskaya to "city_data"'
'Evaluating city number: 2313084, Mangai'
'Appending Mangai to "city_data"'
'Evaluating city number: 1731298, Aloleng'
'Appending Aloleng to "city_data"'
'Evaluating city number: 3855065, General Roca'
'Appending General Roca to "city_data"'
'Evaluating city number: 3985168, San Patricio'
'Appending San Patricio to "city_data"'
'Evaluating city number: 6201424, Mataura'
'Appending Mataura to "city_data"'
'Evaluating city number: 258175, Lixouri'
'Appending Lixouri to "city_data"'
'Evaluating city number: 3698304, Chimbote'
'Appending Chimbote to "city_data"'
'Evaluating city number: 2126199, Cherskiy'
'Appending Cherskiy to "city_data"'
'Evaluating city number: 2075265, Busselton'
'Appending Busselton to "city_data"'
'Evaluating city number: 5880054, Barrow'
'Appending Barrow to "city_data"'
'Evaluating city number: 609906, Fort-Shevchenko'
'Appending Fort-Shevchenko to "city_data"'
'Evaluating city number: 337771, Fichē'
'Appending Fichē to "city_data"'
'Evaluating city number: 2163355, Hobart'
'Appending Hobart to "city_data"'
'Evaluating city number: 2136825, Isangel'
'Appending Isangel to "city_data"'
'Evaluating city number: 2206939, Bluff'
'Appending Bluff to "city_data"'
'Evaluating city number: 2126710, Beringovskiy'
'Appending Beringovskiy to "city_data"'
'Evaluating city number: 546105, Nikolskoye'
'Appending Nikolskoye to "city_data"'
'Evaluating city number: 4030556, Rikitea'
'Appending Rikitea to "city_data"'
'Evaluating city number: 5866583, Saint Paul Harbor'
'Appending Saint Paul Harbor to "city_data"'
'Evaluating city number: 3369157, Cape Town'
'Appending Cape Town to "city_data"'
'Evaluating city number: 2027296, Aykhal'
'Appending Aykhal to "city_data"'
'Evaluating city number: 5557293, Sitka'
'Appending Sitka to "city_data"'
'Evaluating city number: 2015306, Tiksi'
'Appending Tiksi to "city_data"'
'Evaluating city number: 3372783, Ponta Delgada'
'Appending Ponta Delgada to "city_data"'
'Evaluating city number: 2208248, Kaitangata'
'Appending Kaitangata to "city_data"'
'Evaluating city number: 1529376, Korla'
'Appending Korla to "city_data"'
'Evaluating city number: 2522890, Tortolì'
'Appending Tortolì to "city_data"'
'Evaluating city number: 2122262, Palana'
'Appending Palana to "city_data"'
'Evaluating city number: 2138555, Poum'
'Appending Poum to "city_data"'
'Evaluating city number: 110690, Faya'
'Appending Faya to "city_data"'
'Evaluating city number: 4034551, Faanui'
'Appending Faanui to "city_data"'
'Evaluating city number: 3883457, Lebu'
'Appending Lebu to "city_data"'
'Evaluating city number: 5855927, Hilo'
'Appending Hilo to "city_data"'
'Evaluating city number: 1650434, Bambanglipuro'
'Appending Bambanglipuro to "city_data"'
'Evaluating city number: 3492997, Samaná'
'Appending Samaná to "city_data"'
'Evaluating city number: 2064735, Nhulunbuy'
'Appending Nhulunbuy to "city_data"'
"Evaluating city number: 521776, Nikol'sk"
'Appending Nikol\'sk to "city_data"'
'Evaluating city number: 6171633, Ucluelet'
'Appending Ucluelet to "city_data"'
'Evaluating city number: 1492499, Shagonar'
'Appending Shagonar to "city_data"'
'Evaluating city number: 3698359, Chicama'
'Appending Chicama to "city_data"'
'Evaluating city number: 4032243, Vaini'
'Appending Vaini to "city_data"'
'Evaluating city number: 933995, Souillac'
'Appending Souillac to "city_data"'
'Evaluating city number: 1314759, Lashio'
'Appending Lashio to "city_data"'
'Evaluating city number: 3418910, Upernavik'
'Appending Upernavik to "city_data"'
'Evaluating city number: 3105522, Bereda'
'Appending Bereda to "city_data"'
'Evaluating city number: 4021858, Guerrero Negro'
'Appending Guerrero Negro to "city_data"'
"Evaluating city number: 2127060, Arman'"
'Appending Arman\' to "city_data"'
'Evaluating city number: 2025099, Dauriya'
'Appending Dauriya to "city_data"'
'Evaluating city number: 1650232, Banjar'
'Appending Banjar to "city_data"'
'Evaluating city number: 1259385, Port Blair'
'Appending Port Blair to "city_data"'
'Evaluating city number: 778362, Øksfjord'
'Appending Øksfjord to "city_data"'
'Evaluating city number: 934479, Grand Gaube'
'Appending Grand Gaube to "city_data"'
'Evaluating city number: 2171099, Codrington'
'Appending Codrington to "city_data"'
'Evaluating city number: 5847411, Kahului'
'Appending Kahului to "city_data"'
'Evaluating city number: 3355672, Lüderitz'
'Appending Lüderitz to "city_data"'
'Evaluating city number: 935215, Saint-Philippe'
'Appending Saint-Philippe to "city_data"'
'Evaluating city number: 6089245, Norman Wells'
'Appending Norman Wells to "city_data"'
'Evaluating city number: 102527, Sakakah'
'Appending Sakakah to "city_data"'
'Evaluating city number: 3671450, Inírida'
'Appending Inírida to "city_data"'
'Evaluating city number: 5666176, Miles City'
'Appending Miles City to "city_data"'
'Evaluating city number: 1861280, Itoman'
'Appending Itoman to "city_data"'
'Evaluating city number: 3421765, Nanortalik'
'Appending Nanortalik to "city_data"'
'Evaluating city number: 1015969, Brandfort'
'Appending Brandfort to "city_data"'
'Evaluating city number: 5952330, Ferme-Neuve'
'Appending Ferme-Neuve to "city_data"'
'Evaluating city number: 3448903, São João da Barra'
'Appending São João da Barra to "city_data"'
'Evaluating city number: 5848280, Kapaa'
'Appending Kapaa to "city_data"'
'Evaluating city number: 5972762, Hay River'
'Appending Hay River to "city_data"'
'Evaluating city number: 3382160, Cayenne'
'Appending Cayenne to "city_data"'
'Evaluating city number: 4260977, Marion'
'Appending Marion to "city_data"'
'Evaluating city number: 3646869, Cantaura'
'Appending Cantaura to "city_data"'
'Evaluating city number: 509987, Petrovsk'
'Appending Petrovsk to "city_data"'
'Evaluating city number: 1185138, Pirojpur'
'Appending Pirojpur to "city_data"'
'Evaluating city number: 2729907, Longyearbyen'
'Appending Longyearbyen to "city_data"'
'Evaluating city number: 3471451, Arraial do Cabo'
'Appending Arraial do Cabo to "city_data"'
'Evaluating city number: 2012530, Zhigansk'
'Appending Zhigansk to "city_data"'
'Evaluating city number: 3418076, Borgarnes'
'Appending Borgarnes to "city_data"'
'Evaluating city number: 1028918, Pemba'
'Appending Pemba to "city_data"'
'Evaluating city number: 1803331, Linxia Chengguanzhen'
'Appending Linxia Chengguanzhen to "city_data"'
'Evaluating city number: 3141667, Roald'
'Appending Roald to "city_data"'
'Evaluating city number: 4946620, Palmer'
'Appending Palmer to "city_data"'
'Evaluating city number: 1640344, Kendari'
'Appending Kendari to "city_data"'

'Evaluating city number: 1517060, Zaysan'
'Appending Zaysan to "city_data"'
'Evaluating city number: 2146268, Toowoomba'
'Appending Toowoomba to "city_data"'
'Evaluating city number: 560452, Golynki'
'Appending Golynki to "city_data"'
'Evaluating city number: 2155415, New Norfolk'
'Appending New Norfolk to "city_data"'
'Evaluating city number: 2126123, Chokurdakh'
'Appending Chokurdakh to "city_data"'
'Evaluating city number: 3466704, Castro'
'Appending Castro to "city_data"'
'Evaluating city number: 2644210, Liverpool'
'Appending Liverpool to "city_data"'
'Evaluating city number: 1250161, Batticaloa'
'Appending Batticaloa to "city_data"'
'Evaluating city number: 964432, Port Alfred'
'Appending Port Alfred to "city_data"'
"Evaluating city number: 2121197, Sinegor'ye"
'Appending Sinegor\'ye to "city_data"'
'Evaluating city number: 2181625, Te Anau'
'Appending Te Anau to "city_data"'
'Evaluating city number: 593191, Vievis'
'Appending Vievis to "city_data"'
'Evaluating city number: 3899695, Ancud'
'Appending Ancud to "city_data"'
'Evaluating city number: 1651591, Amahai'
'Appending Amahai to "city_data"'
'Evaluating city number: 2156643, Mount Gambier'
'Appending Mount Gambier to "city_data"'
'Evaluating city number: 3932145, Pisco'
'Appending Pisco to "city_data"'
'Evaluating city number: 3424607, Tasiilaq'
'Appending Tasiilaq to "city_data"'
'Evaluating city number: 2171085, Coffs Harbour'
'Appending Coffs Harbour to "city_data"'
'Evaluating city number: 5924351, Clyde River'
'Appending Clyde River to "city_data"'
'Evaluating city number: 3831208, Qaanaaq'
'Appending Qaanaaq to "city_data"'
'Evaluating city number: 2318123, Yenagoa'
'Appending Yenagoa to "city_data"'
'Evaluating city number: 1637001, Biak'
'Appending Biak to "city_data"'
'Evaluating city number: 4031637, Lavrentiya'
'Appending Lavrentiya to "city_data"'
'Evaluating city number: 2026126, Borzya'
'Appending Borzya to "city_data"'
'Evaluating city number: 3361934, Saldanha'
'Appending Saldanha to "city_data"'
'Evaluating city number: 1215502, Banda Aceh'
'Appending Banda Aceh to "city_data"'
'Evaluating city number: 3393115, Paracuru'
'Appending Paracuru to "city_data"'
'Evaluating city number: 3465228, Coxim'
'Appending Coxim to "city_data"'
'Evaluating city number: 1735106, George Town'
'Appending George Town to "city_data"'
'Evaluating city number: 2013279, Vostok'
'Appending Vostok to "city_data"'
'Evaluating city number: 1630789, Pontianak'
'Appending Pontianak to "city_data"'
'Evaluating city number: 64814, Bandarbeyla'
'Appending Bandarbeyla to "city_data"'
'Evaluating city number: 1722941, Bulata'
'Appending Bulata to "city_data"'
'Evaluating city number: 1493162, Salym'
'Appending Salym to "city_data"'
'Evaluating city number: 1507390, Dikson'
'Appending Dikson to "city_data"'
'Evaluating city number: 5725846, Eugene'
'Appending Eugene to "city_data"'
'Evaluating city number: 5983720, Iqaluit'
'Appending Iqaluit to "city_data"'
'Evaluating city number: 1819729, Hong Kong'
'Appending Hong Kong to "city_data"'
'Evaluating city number: 2074865, Carnarvon'
'Appending Carnarvon to "city_data"'
'Evaluating city number: 1492252, Sheregesh'
'Appending Sheregesh to "city_data"'
'Evaluating city number: 3407762, Amapá'
'Appending Amapá to "city_data"'
'Evaluating city number: 142255, Bāfq'
'Appending Bāfq to "city_data"'
'Evaluating city number: 5554072, Juneau'
'Appending Juneau to "city_data"'
'Evaluating city number: 2063056, Port Augusta'
'Appending Port Augusta to "city_data"'
'Evaluating city number: 2070998, Geraldton'
'Appending Geraldton to "city_data"'
'Evaluating city number: 3998291, Loreto'
'Appending Loreto to "city_data"'
'Evaluating city number: 1035025, Nacala'
'Appending Nacala to "city_data"'
'Evaluating city number: 5906229, Botwood'
'Appending Botwood to "city_data"'
'Evaluating city number: 934649, Cap Malheureux'
'Appending Cap Malheureux to "city_data"'
'Evaluating city number: 3430443, Necochea'
'Appending Necochea to "city_data"'
'Evaluating city number: 343292, Āsosa'
'Appending Āsosa to "city_data"'
'Evaluating city number: 3351024, Caluquembe'
'Appending Caluquembe to "city_data"'
'Evaluating city number: 5282297, Bethel'
'Appending Bethel to "city_data"'
'Evaluating city number: 1337610, Thinadhoo'
'Appending Thinadhoo to "city_data"'
'Evaluating city number: 934322, Mahébourg'
'Appending Mahébourg to "city_data"'
'Evaluating city number: 3893726, Constitución'
'Appending Constitución to "city_data"'
'Evaluating city number: 2017155, Saskylakh'
'Appending Saskylakh to "city_data"'
'Evaluating city number: 8079926, Labuhan'
'Appending Labuhan to "city_data"'
'Evaluating city number: 3533462, Acapulco de Juárez'
'Appending Acapulco de Juárez to "city_data"'
'Evaluating city number: 7117100, Vila'
'Appending Vila to "city_data"'
'Evaluating city number: 2963218, Kilrush'
'Appending Kilrush to "city_data"'
'Evaluating city number: 2110227, Butaritari'
'Appending Butaritari to "city_data"'
'Evaluating city number: 3466165, Cidreira'
'Appending Cidreira to "city_data"'
'Evaluating city number: 5847486, Kailua'
'Appending Kailua to "city_data"'
'Evaluating city number: 2687636, Nynäshamn'
'Appending Nynäshamn to "city_data"'
'Evaluating city number: 5014208, Waverly'
'Appending Waverly to "city_data"'
'Evaluating city number: 6180961, White Rock'
'Appending White Rock to "city_data"'
'Evaluating city number: 3128760, Barcelona'
'Appending Barcelona to "city_data"'
'Evaluating city number: 6167817, Torbay'
'Appending Torbay to "city_data"'
'Evaluating city number: 1488414, Urengoy'
'Appending Urengoy to "city_data"'
'Evaluating city number: 290030, Doha'
'Appending Doha to "city_data"'
'Evaluating city number: 1052373, Beira'
'Appending Beira to "city_data"'
'Evaluating city number: 4016734, Bucerías'
'Appending Bucerías to "city_data"'
'Evaluating city number: 1049261, Chimoio'
'Appending Chimoio to "city_data"'
'Evaluating city number: 2992770, Arrondissement de Mont-de-Marsan'
'Appending Arrondissement de Mont-de-Marsan to "city_data"'
'Evaluating city number: 905395, Mufulira'
'Appending Mufulira to "city_data"'
'Evaluating city number: 473263, Vizinga'
'Appending Vizinga to "city_data"'
'Evaluating city number: 594064, Švenčionys'
'Appending Švenčionys to "city_data"'
'Evaluating city number: 5367788, Lompoc'
'Appending Lompoc to "city_data"'
'Evaluating city number: 2928396, Euskirchen'
'Appending Euskirchen to "city_data"'
'Evaluating city number: 286621, Salalah'
'Appending Salalah to "city_data"'
'Evaluating city number: 2210554, Sirte'
'Appending Sirte to "city_data"'
'Evaluating city number: 4465088, Elizabeth City'
'Appending Elizabeth City to "city_data"'
'Evaluating city number: 6111862, Port Hardy'
'Appending Port Hardy to "city_data"'
'Evaluating city number: 1174062, Kharan'
'Appending Kharan to "city_data"'
'Evaluating city number: 3833883, Trelew'
'Appending Trelew to "city_data"'
'Evaluating city number: 3386177, Trairi'
'Appending Trairi to "city_data"'
'Evaluating city number: 2112309, Katsuura'
'Appending Katsuura to "city_data"'
'Evaluating city number: 86049, Jalu'
'Appending Jalu to "city_data"'
'Evaluating city number: 3421719, Narsaq'
'Appending Narsaq to "city_data"'
'Evaluating city number: 3175096, Laas'
'Appending Laas to "city_data"'
'Evaluating city number: 5546220, Saint George'
'Appending Saint George to "city_data"'
'Evaluating city number: 1810637, Ganzhou'
'Appending Ganzhou to "city_data"'
'Evaluating city number: 2032614, Baruun-Urt'
'Appending Baruun-Urt to "city_data"'
'Evaluating city number: 3879200, Mulchén'
'Appending Mulchén to "city_data"'
'Evaluating city number: 3521972, Panabá'
'Appending Panabá to "city_data"'
'Evaluating city number: 2325688, Oron'
'Appending Oron to "city_data"'
'Evaluating city number: 100926, Umluj'
'Appending Umluj to "city_data"'
'Evaluating city number: 1179758, Diplo'
'Appending Diplo to "city_data"'
'Evaluating city number: 485215, Synya'
'Appending Synya to "city_data"'
'Evaluating city number: 1726449, Basco'
'Appending Basco to "city_data"'
'Evaluating city number: 2961459, Skibbereen'
'Appending Skibbereen to "city_data"'
'Evaluating city number: 3137469, Sørland'
'Appending Sørland to "city_data"'

'Evaluating city number: 5948844, Englehart'
'Appending Englehart to "city_data"'
'Evaluating city number: 325103, Ahlat'
'Appending Ahlat to "city_data"'
'Evaluating city number: 3531368, Celestún'
'Appending Celestún to "city_data"'
'Evaluating city number: 3356832, Henties Bay'
'Appending Henties Bay to "city_data"'
'Evaluating city number: 2068110, Kununurra'
'Appending Kununurra to "city_data"'
'Evaluating city number: 160141, Dunda'
'Appending Dunda to "city_data"'
'Evaluating city number: 2090021, Namatanai'
'Appending Namatanai to "city_data"'
'Evaluating city number: 2137773, Vao'
'Appending Vao to "city_data"'
'Evaluating city number: 1054329, Vangaindrano'
'Appending Vangaindrano to "city_data"'
'Evaluating city number: 3430863, Mar del Plata'
'Appending Mar del Plata to "city_data"'
'Evaluating city number: 3653967, Muisne'
'Appending Muisne to "city_data"'
'Evaluating city number: 5870133, Nome'
'Appending Nome to "city_data"'
'Evaluating city number: 3840300, Presidencia Roque Sáenz Peña'
'Appending Presidencia Roque Sáenz Peña to "city_data"'
'Evaluating city number: 1244926, Hambantota'
'Appending Hambantota to "city_data"'
'Evaluating city number: 7671223, Kloulklubed'
'Appending Kloulklubed to "city_data"'
'Evaluating city number: 122285, Neyshabur'
'Appending Neyshabur to "city_data"'
'Evaluating city number: 4031742, Egvekinot'
'Appending Egvekinot to "city_data"'
'Evaluating city number: 1649150, Bengkulu'
'Appending Bengkulu to "city_data"'
'Evaluating city number: 2167426, Emerald'
'Appending Emerald to "city_data"'
'Evaluating city number: 5919815, Channel-Port aux Basques'
'Appending Channel-Port aux Basques to "city_data"'
'Evaluating city number: 3652764, Puerto Ayora'
'Appending Puerto Ayora to "city_data"'
'Evaluating city number: 5391295, Salinas'
'Appending Salinas to "city_data"'
'Evaluating city number: 1498205, Muromtsevo'
'Appending Muromtsevo to "city_data"'
'Evaluating city number: 778707, Mehamn'
'Appending Mehamn to "city_data"'
'Evaluating city number: 5993072, Kitimat'
'Appending Kitimat to "city_data"'
'Evaluating city number: 935616, Le Port'
'Appending Le Port to "city_data"'
'Evaluating city number: 6255012, Flinders'
'Appending Flinders to "city_data"'
'Evaluating city number: 5989403, Kapuskasing'
'Appending Kapuskasing to "city_data"'
'Evaluating city number: 856673, Svetlopolyansk'
'Appending Svetlopolyansk to "city_data"'
'Evaluating city number: 5493811, Taos'
'Appending Taos to "city_data"'
'Evaluating city number: 3155152, Gravdal'
'Appending Gravdal to "city_data"'
'Evaluating city number: 347634, Ţahţā'
'Appending Ţahţā to "city_data"'
'Evaluating city number: 5946820, Edson'
'Appending Edson to "city_data"'
'Evaluating city number: 1282256, Hithadhoo'
'Appending Hithadhoo to "city_data"'
'Evaluating city number: 2693759, Ludvika'
'Appending Ludvika to "city_data"'
'Evaluating city number: 2088122, Port Moresby'
'Appending Port Moresby to "city_data"'
'Evaluating city number: 5992836, Kirkland Lake'
'Appending Kirkland Lake to "city_data"'
'Evaluating city number: 2324857, Pindiga'
'Appending Pindiga to "city_data"'
'Evaluating city number: 2123814, Leningradskiy'
'Appending Leningradskiy to "city_data"'
'Evaluating city number: 552999, Kapustin Yar'
'Appending Kapustin Yar to "city_data"'
'Evaluating city number: 131962, Harsīn'
'Appending Harsīn to "city_data"'
'Evaluating city number: 3464724, Diamantino'
'Appending Diamantino to "city_data"'
'Evaluating city number: 1267390, Kavaratti'
'Appending Kavaratti to "city_data"'
'Evaluating city number: 5887916, Athabasca'
'Appending Athabasca to "city_data"'
'Evaluating city number: 1106677, Bambous Virieux'
'Appending Bambous Virieux to "city_data"'
'Evaluating city number: 1835848, Seoul'
'Appending Seoul to "city_data"'
'Evaluating city number: 1855612, Nara'
'Appending Nara to "city_data"'
'Evaluating city number: 1684606, Taganak'
'Appending Taganak to "city_data"'
'Evaluating city number: 5859699, College'
'Appending College to "city_data"'
'Evaluating city number: 2152659, Port Macquarie'
'Appending Port Macquarie to "city_data"'
'Evaluating city number: 2150163, Sawtell'
'Appending Sawtell to "city_data"'
'Evaluating city number: 2028164, Deputatsky'
'Appending Deputatsky to "city_data"'
'Evaluating city number: 1283285, Jumla'
'Appending Jumla to "city_data"'
'Evaluating city number: 4036284, Alofi'
'Appending Alofi to "city_data"'
'Evaluating city number: 5861897, Fairbanks'
'Appending Fairbanks to "city_data"'
'Evaluating city number: 6170031, Tuktoyaktuk'
'Appending Tuktoyaktuk to "city_data"'
'Evaluating city number: 1794971, Shitanjing'
'Appending Shitanjing to "city_data"'
'Evaluating city number: 3402648, Carutapera'
'Appending Carutapera to "city_data"'
'Evaluating city number: 3443061, Chui'
'Appending Chui to "city_data"'
'Evaluating city number: 1337607, Kudahuvadhoo'
'Appending Kudahuvadhoo to "city_data"'
'Evaluating city number: 72181, Marzuq'
'Appending Marzuq to "city_data"'
'Evaluating city number: 3870243, Taltal'
'Appending Taltal to "city_data"'
'Evaluating city number: 986717, Kruisfontein'
'Appending Kruisfontein to "city_data"'
'Evaluating city number: 3393692, Itarema'
'Appending Itarema to "city_data"'
'Evaluating city number: 2021017, Kysyl-Syr'
'Appending Kysyl-Syr to "city_data"'
'Evaluating city number: 2381972, Adrar'
'Appending Adrar to "city_data"'
'Evaluating city number: 2641434, Northam'
'Appending Northam to "city_data"'
'Evaluating city number: 1714733, Dingle'
'Appending Dingle to "city_data"'
'Evaluating city number: 3374333, Praia'
'Appending Praia to "city_data"'
'Evaluating city number: 2454268, Koutiala'
'Appending Koutiala to "city_data"'
'Evaluating city number: 5856516, ‘Āhuimanu'
'Appending ‘Āhuimanu to "city_data"'
'Evaluating city number: 1852046, Shinshiro'
'Appending Shinshiro to "city_data"'
'Evaluating city number: 337083, Gēdo'
'Appending Gēdo to "city_data"'
'Evaluating city number: 1516589, Zhezkazgan'
'Appending Zhezkazgan to "city_data"'
'Evaluating city number: 759852, Ryki'
'Appending Ryki to "city_data"'
'Evaluating city number: 5882953, Aklavik'
'Appending Aklavik to "city_data"'
'Evaluating city number: 2125906, Dukat'
'Appending Dukat to "city_data"'
'Evaluating city number: 2647311, Haverfordwest'
'Appending Haverfordwest to "city_data"'
'Evaluating city number: 6453316, Tromsø'
'Appending Tromsø to "city_data"'
'Evaluating city number: 1807553, Dingcheng'
'Appending Dingcheng to "city_data"'
'Evaluating city number: 2112802, Hasaki'
'Appending Hasaki to "city_data"'
'Evaluating city number: 3435910, Buenos Aires'
'Appending Buenos Aires to "city_data"'
'Evaluating city number: 3395458, Maragogi'
'Appending Maragogi to "city_data"'
'Evaluating city number: 1053384, Toamasina'
'Appending Toamasina to "city_data"'
'Evaluating city number: 943937, Villiers'
'Appending Villiers to "city_data"'
'Evaluating city number: 608271, Shubarkuduk'
'Appending Shubarkuduk to "city_data"'
'Evaluating city number: 5364022, La Palma'
'Appending La Palma to "city_data"'
'Evaluating city number: 6355222, Yulara'
'Appending Yulara to "city_data"'
'Evaluating city number: 3428068, San Vicente'
'Appending San Vicente to "city_data"'
'Evaluating city number: 1802550, Longkou'
'Appending Longkou to "city_data"'
'Evaluating city number: 3839307, Rawson'
'Appending Rawson to "city_data"'
'Evaluating city number: 5110365, Broome'
'Appending Broome to "city_data"'
'Evaluating city number: 3598787, Champerico'
'Appending Champerico to "city_data"'
'Evaluating city number: 3832899, Viedma'
'Appending Viedma to "city_data"'
'Evaluating city number: 6112608, Powell River'
'Appending Powell River to "city_data"'
'Evaluating city number: 3665202, Aripuanã'
'Appending Aripuanã to "city_data"'
'Evaluating city number: 2015217, Tokur'
'Appending Tokur to "city_data"'
'Evaluating city number: 2542997, Marrakesh'
'Appending Marrakesh to "city_data"'
'Evaluating city number: 2125693, Evensk'
'Appending Evensk to "city_data"'
'Evaluating city number: 2311127, Tshela'
'Appending Tshela to "city_data"'
'Evaluating city number: 3670218, San Andrés'
'Appending San Andrés to "city_data"'
'Evaluating city number: 3460355, Jaciara'
'Appending Jaciara to "city_data"'

'Evaluating city number: 2027244, Bagdarin'
'Appending Bagdarin to "city_data"'
'Evaluating city number: 366426, Tandaltī'
'Appending Tandaltī to "city_data"'
'Evaluating city number: 2120591, Tilichiki'
'Appending Tilichiki to "city_data"'
'Evaluating city number: 1802618, Longhua'
'Appending Longhua to "city_data"'
'Evaluating city number: 3672086, Pizarro'
'Appending Pizarro to "city_data"'
'Evaluating city number: 3388456, São José da Coroa Grande'
'Appending São José da Coroa Grande to "city_data"'
'Evaluating city number: 214389, Kaniama'
'Appending Kaniama to "city_data"'
'Evaluating city number: 3985710, Cabo San Lucas'
'Appending Cabo San Lucas to "city_data"'
'Evaluating city number: 1513087, Nurota'
'Appending Nurota to "city_data"'
'Evaluating city number: 1486321, Yar-Sale'
'Appending Yar-Sale to "city_data"'
'Evaluating city number: 2019118, Nizhniy Tsasuchey'
'Appending Nizhniy Tsasuchey to "city_data"'
'Evaluating city number: 3157799, Farsund'
'Appending Farsund to "city_data"'
'Evaluating city number: 1337613, Kulhudhuffushi'
'Appending Kulhudhuffushi to "city_data"'
'Evaluating city number: 2022572, Khatanga'
'Appending Khatanga to "city_data"'
'Evaluating city number: 259289, Corinth'
'Appending Corinth to "city_data"'
'Evaluating city number: 4944903, Nantucket'
'Appending Nantucket to "city_data"'
'Evaluating city number: 1863495, Gushikawa'
'Appending Gushikawa to "city_data"'
'Evaluating city number: 2173911, Broken Hill'
'Appending Broken Hill to "city_data"'
'Evaluating city number: 686090, Asău'
'Appending Asău to "city_data"'
'Evaluating city number: 2126682, Bilibino'
'Appending Bilibino to "city_data"'
'Evaluating city number: 3416888, Grindavik'
'Appending Grindavik to "city_data"'
'Evaluating city number: 2618795, Klaksvík'
'Appending Klaksvík to "city_data"'
'Evaluating city number: 3414079, Olafsvik'
'Appending Olafsvik to "city_data"'
'Evaluating city number: 545626, Kondopoga'
'Appending Kondopoga to "city_data"'
'Evaluating city number: 2755270, Gemeente Berg en Dal'
'Appending Gemeente Berg en Dal to "city_data"'
'Evaluating city number: 2122605, Okhotsk'
'Appending Okhotsk to "city_data"'
'Evaluating city number: 4170174, Riviera Beach'
'Appending Riviera Beach to "city_data"'
'Evaluating city number: 3576994, Cockburn Town'
'Appending Cockburn Town to "city_data"'
'Evaluating city number: 5594956, Hailey'
'Appending Hailey to "city_data"'
'Evaluating city number: 2396518, Port-Gentil'
'Appending Port-Gentil to "city_data"'
'Evaluating city number: 1563281, Tuy Hoa'
'Appending Tuy Hoa to "city_data"'
'Evaluating city number: 5746545, Portland'
'Appending Portland to "city_data"'
'Evaluating city number: 5177358, Wooster'
'Appending Wooster to "city_data"'
'Evaluating city number: 2062276, Roebourne'
'Appending Roebourne to "city_data"'
'Evaluating city number: 5563839, Fortuna'
'Appending Fortuna to "city_data"'
'Evaluating city number: 2013727, Vanavara'
'Appending Vanavara to "city_data"'
'Evaluating city number: 2146219, Hervey Bay'
'Appending Hervey Bay to "city_data"'
'Evaluating city number: 1090467, Boueni'
'Appending Boueni to "city_data"'
'Evaluating city number: 737021, Zonguldak'
'Appending Zonguldak to "city_data"'
'Evaluating city number: 1159716, Sarakhs'
'Appending Sarakhs to "city_data"'
'Evaluating city number: 1607398, Plaeng Yao'
'Appending Plaeng Yao to "city_data"'
'Evaluating city number: 3628473, San Cristobal'
'Appending San Cristobal to "city_data"'
'Evaluating city number: 2246451, Saint-Louis'
'Appending Saint-Louis to "city_data"'
'Evaluating city number: 3374210, São Filipe'
'Appending São Filipe to "city_data"'
'Evaluating city number: 3372760, Praia da Vitória'
'Appending Praia da Vitória to "city_data"'
'Evaluating city number: 701802, Markova'
'Appending Markova to "city_data"'
'Evaluating city number: 5905393, Bonavista'
'Appending Bonavista to "city_data"'
'Evaluating city number: 6149996, Smithers'
'Appending Smithers to "city_data"'
'Evaluating city number: 1024552, Xai-Xai'
'Appending Xai-Xai to "city_data"'
'Evaluating city number: 2278158, Buchanan'
'Appending Buchanan to "city_data"'
'Evaluating city number: 2035593, Nianzishan'
'Appending Nianzishan to "city_data"'
'Evaluating city number: 6620339, Karratha'
'Appending Karratha to "city_data"'
'Evaluating city number: 2189343, Kaeo'
'Appending Kaeo to "city_data"'
'Evaluating city number: 3454005, Piaçabuçu'
'Appending Piaçabuçu to "city_data"'
'Evaluating city number: 477337, Vakhtan'
'Appending Vakhtan to "city_data"'
'Evaluating city number: 6165406, Thompson'
'Appending Thompson to "city_data"'
"Evaluating city number: 3579925, St. George's"
'Appending St. George\'s to "city_data"'
'Evaluating city number: 5816320, Bainbridge Island'
'Appending Bainbridge Island to "city_data"'
'Evaluating city number: 5906757, Bow Island'
'Appending Bow Island to "city_data"'
'Evaluating city number: 2512186, Puerto del Rosario'
'Appending Puerto del Rosario to "city_data"'
'Evaluating city number: 5224949, Smithfield'
'Appending Smithfield to "city_data"'
"Evaluating city number: 1497337, Noril'sk"
'Appending Noril\'sk to "city_data"'
'Evaluating city number: 496934, Serdobsk'
'Appending Serdobsk to "city_data"'
'Evaluating city number: 1162105, Zhob'
'Appending Zhob to "city_data"'
'Evaluating city number: 2980080, Saint-François'
'Appending Saint-François to "city_data"'
'Evaluating city number: 3373652, Oistins'
'Appending Oistins to "city_data"'
'Evaluating city number: 1830377, Lumphat'
'Appending Lumphat to "city_data"'
'Evaluating city number: 1214488, Meulaboh'
'Appending Meulaboh to "city_data"'
'Evaluating city number: 935214, Saint-Pierre'
'Appending Saint-Pierre to "city_data"'
'Evaluating city number: 1235846, Matara'
'Appending Matara to "city_data"'
'Evaluating city number: 3359638, Walvis Bay'
'Appending Walvis Bay to "city_data"'
'Evaluating city number: 3691582, Talara'
'Appending Talara to "city_data"'
'Evaluating city number: 1790959, Taicheng'
'Appending Taicheng to "city_data"'
'Evaluating city number: 1609043, Lom Sak'
'Appending Lom Sak to "city_data"'
'Evaluating city number: 5853992, Wahiawā'
'Appending Wahiawā to "city_data"'
'Evaluating city number: 2246901, Oussouye'
'Appending Oussouye to "city_data"'
'Evaluating city number: 2176639, Batemans Bay'
'Appending Batemans Bay to "city_data"'
'Evaluating city number: 2619537, Hvide Sande'
'Appending Hvide Sande to "city_data"'
'Evaluating city number: 5059429, Grand Forks'
'Appending Grand Forks to "city_data"'
'Evaluating city number: 2038421, Bayan'
'Appending Bayan to "city_data"'
'Evaluating city number: 540797, Krivyanskaya'
'Appending Krivyanskaya to "city_data"'
'Evaluating city number: 2192362, Christchurch'
'Appending Christchurch to "city_data"'
'Evaluating city number: 4251141, Taylorville'
'Appending Taylorville to "city_data"'
'Evaluating city number: 3185728, Durrës'
'Appending Durrës to "city_data"'
'Evaluating city number: 2656847, Atherton'
'Appending Atherton to "city_data"'
'Evaluating city number: 5767918, Pierre'
'Appending Pierre to "city_data"'
'Evaluating city number: 2239862, Malanje'
'Appending Malanje to "city_data"'
'Evaluating city number: 698740, Odesa'
'Appending Odesa to "city_data"'
'Evaluating city number: 178443, Wajir'
'Appending Wajir to "city_data"'
'Evaluating city number: 3347019, Mossamedes'
'Appending Mossamedes to "city_data"'
'Evaluating city number: 2455290, Kidal'
'Appending Kidal to "city_data"'
'Evaluating city number: 2094342, Kavieng'
'Appending Kavieng to "city_data"'
'Evaluating city number: 3421193, Paamiut'
'Appending Paamiut to "city_data"'
'Evaluating city number: 2180815, Tuatapere'
'Appending Tuatapere to "city_data"'
'Evaluating city number: 1636308, Manokwari'
'Appending Manokwari to "city_data"'
'Evaluating city number: 2174444, Bowen'
'Appending Bowen to "city_data"'
'Evaluating city number: 3608828, Iralaya'
'Appending Iralaya to "city_data"'
"Evaluating city number: 2120612, Tigil'"
'Appending Tigil\' to "city_data"'
'Evaluating city number: 4018499, Angostura'
'Appending Angostura to "city_data"'
'Evaluating city number: 1633419, Padang'
'Appending Padang to "city_data"'
'Evaluating city number: 5914653, Camrose'
'Appending Camrose to "city_data"'
'Evaluating city number: 323786, Ankara'
'Appending Ankara to "city_data"'

'Evaluating city number: 5849297, Kīhei'
'Appending Kīhei to "city_data"'
'Evaluating city number: 780717, Båtsfjord'
'Appending Båtsfjord to "city_data"'
'Evaluating city number: 6125653, Roberval'
'Appending Roberval to "city_data"'
'Evaluating city number: 2297810, Mumford'
'Appending Mumford to "city_data"'
'Evaluating city number: 5563397, Eureka'
'Appending Eureka to "city_data"'
'Evaluating city number: 964712, Plettenberg Bay'
'Appending Plettenberg Bay to "city_data"'
'Evaluating city number: 3445026, Vila Velha'
'Appending Vila Velha to "city_data"'
'Evaluating city number: 3584003, Puerto El Triunfo'
'Appending Puerto El Triunfo to "city_data"'
'Evaluating city number: 567109, Dankov'
'Appending Dankov to "city_data"'
'Evaluating city number: 3456248, Nortelândia'
'Appending Nortelândia to "city_data"'
'Evaluating city number: 158514, Kaliua'
'Appending Kaliua to "city_data"'
'Evaluating city number: 2165798, Geelong'
'Appending Geelong to "city_data"'
'Evaluating city number: 1528998, Yumen'
'Appending Yumen to "city_data"'
'Evaluating city number: 1497376, Nizhnyaya Tavda'
'Appending Nizhnyaya Tavda to "city_data"'
'Evaluating city number: 201865, Nzega'
'Appending Nzega to "city_data"'
'Evaluating city number: 1605957, Tak Bai'
'Appending Tak Bai to "city_data"'
'Evaluating city number: 293842, Kiryat Gat'
'Appending Kiryat Gat to "city_data"'
'Evaluating city number: 3984997, San Quintín'
'Appending San Quintín to "city_data"'
'Evaluating city number: 1861416, Ishigaki'
'Appending Ishigaki to "city_data"'
'Evaluating city number: 3394023, Natal'
'Appending Natal to "city_data"'
'Evaluating city number: 1269976, Honāvar'
'Appending Honāvar to "city_data"'
'Evaluating city number: 2654755, Bridgend'
'Appending Bridgend to "city_data"'
'Evaluating city number: 890516, Gwanda'
'Appending Gwanda to "city_data"'
'Evaluating city number: 3661980, Tarauacá'
'Appending Tarauacá to "city_data"'
'Evaluating city number: 199604, Chepareria'
'Appending Chepareria to "city_data"'
'Evaluating city number: 2400547, Gamba'
'Appending Gamba to "city_data"'
'Evaluating city number: 1516595, Zhetysay'
'Appending Zhetysay to "city_data"'
'Evaluating city number: 3529654, Dzilam González'
'Appending Dzilam González to "city_data"'
'Evaluating city number: 4163318, Mango'
'Appending Mango to "city_data"'
'Evaluating city number: 70979, Sayyan'
'Appending Sayyan to "city_data"'
'Evaluating city number: 2071059, Gawler'
'Appending Gawler to "city_data"'
'Evaluating city number: 2962961, Letterkenny'
'Appending Letterkenny to "city_data"'
'Evaluating city number: 3372707, Ribeira Grande'
'Appending Ribeira Grande to "city_data"'
'Evaluating city number: 1527497, Kyzyl-Suu'
'Appending Kyzyl-Suu to "city_data"'
'Evaluating city number: 4146354, Atlantic Beach'
'Appending Atlantic Beach to "city_data"'
'Evaluating city number: 3393471, Oriximiná'
'Appending Oriximiná to "city_data"'
'Evaluating city number: 3446880, Tapes'
'Appending Tapes to "city_data"'
'Evaluating city number: 3395981, Maceió'
'Appending Maceió to "city_data"'
'Evaluating city number: 1494237, Predivinsk'
'Appending Predivinsk to "city_data"'
'Evaluating city number: 3882582, Loncoche'
'Appending Loncoche to "city_data"'
'Evaluating city number: 2129513, Shimokizukuri'
'Appending Shimokizukuri to "city_data"'
'Evaluating city number: 1496511, Novy Urengoy'
'Appending Novy Urengoy to "city_data"'
'Evaluating city number: 1855540, Naze'
'Appending Naze to "city_data"'
'Evaluating city number: 2027316, Ayan'
'Appending Ayan to "city_data"'
'Evaluating city number: 3520994, Puerto Escondido'
'Appending Puerto Escondido to "city_data"'
'Evaluating city number: 2654970, Brae'
'Appending Brae to "city_data"'
'Evaluating city number: 3384481, Distrikt Brokopondo'
'Appending Distrikt Brokopondo to "city_data"'
'Evaluating city number: 3430545, Morón'
'Appending Morón to "city_data"'
'Evaluating city number: 2014624, Udachny'
'Appending Udachny to "city_data"'
'Evaluating city number: 352733, Marsá Maţrūḩ'
'Appending Marsá Maţrūḩ to "city_data"'
'Evaluating city number: 3456137, Nova Olímpia'
'Appending Nova Olímpia to "city_data"'
'Evaluating city number: 2209055, Waddān'
'Appending Waddān to "city_data"'
'Evaluating city number: 2092164, Lorengau'
'Appending Lorengau to "city_data"'
'Evaluating city number: 108410, Riyadh'
'Appending Riyadh to "city_data"'
'Evaluating city number: 1651810, Airai'
'Appending Airai to "city_data"'
'Evaluating city number: 3471772, Araranguá'
'Appending Araranguá to "city_data"'
'Evaluating city number: 736944, Akriní'
'Appending Akriní to "city_data"'
'Evaluating city number: 364027, Wagar'
'Appending Wagar to "city_data"'
'Evaluating city number: 80509, Al Bardīyah'
'Appending Al Bardīyah to "city_data"'
'Evaluating city number: 672582, Muşeteşti'
'Appending Muşeteşti to "city_data"'
'Evaluating city number: 1636426, Manggar'
'Appending Manggar to "city_data"'
'Evaluating city number: 1803560, Lingao'
'Appending Lingao to "city_data"'
'Evaluating city number: 3423146, Ilulissat'
'Appending Ilulissat to "city_data"'
'Evaluating city number: 1855342, Nishihara'
'Appending Nishihara to "city_data"'
'Evaluating city number: 6690296, Saint-Joseph'
'Appending Saint-Joseph to "city_data"'
'Evaluating city number: 921786, Mitsamiouli'
'Appending Mitsamiouli to "city_data"'
'Evaluating city number: 6067472, Marystown'
'Appending Marystown to "city_data"'
'Evaluating city number: 2013399, Vikhorevka'
'Appending Vikhorevka to "city_data"'
'Evaluating city number: 2142316, Yeppoon'
'Appending Yeppoon to "city_data"'
'Evaluating city number: 2122389, Ossora'
'Appending Ossora to "city_data"'
'Evaluating city number: 55671, Kismayo'
'Appending Kismayo to "city_data"'
'Evaluating city number: 2264557, Ponta do Sol'
'Appending Ponta do Sol to "city_data"'
'Evaluating city number: 3665199, Ariquemes'
'Appending Ariquemes to "city_data"'
'Evaluating city number: 3572189, High Rock'
'Appending High Rock to "city_data"'
'Evaluating city number: 3152995, Hemnesberget'
'Appending Hemnesberget to "city_data"'
'Evaluating city number: 5962442, Goderich'
'Appending Goderich to "city_data"'
'Evaluating city number: 2450173, Taoudenni'
'Appending Taoudenni to "city_data"'
'Evaluating city number: 2177069, Ballina'
'Appending Ballina to "city_data"'
'Evaluating city number: 2447513, Arlit'
'Appending Arlit to "city_data"'
'Evaluating city number: 3662342, São Gabriel da Cachoeira'
'Appending São Gabriel da Cachoeira to "city_data"'
'Evaluating city number: 4176380, Venice'
'Appending Venice to "city_data"'
'Evaluating city number: 1498161, Muzhi'
'Appending Muzhi to "city_data"'
'Evaluating city number: 780687, Berlevåg'
'Appending Berlevåg to "city_data"'
'Evaluating city number: 5961417, Gimli'
'Appending Gimli to "city_data"'
"Evaluating city number: 508441, Poddor'ye"
'Appending Poddor\'ye to "city_data"'
'Evaluating city number: 2176225, Benalla'
'Appending Benalla to "city_data"'
'Evaluating city number: 4391812, Independence'
'Appending Independence to "city_data"'
'Evaluating city number: 2025456, Chernyshevskiy'
'Appending Chernyshevskiy to "city_data"'
'Evaluating city number: 3861953, Chacabuco'
'Appending Chacabuco to "city_data"'
'Evaluating city number: 5779334, Orem'
'Appending Orem to "city_data"'
'Evaluating city number: 3899539, Antofagasta'
'Appending Antofagasta to "city_data"'
'Evaluating city number: 6111867, Port Hawkesbury'
'Appending Port Hawkesbury to "city_data"'
'Evaluating city number: 554830, Izhma'
'Appending Izhma to "city_data"'
'Evaluating city number: 2094027, Kieta'
'Appending Kieta to "city_data"'
'Evaluating city number: 3674702, Miranda'
'Appending Miranda to "city_data"'
'Evaluating city number: 371745, Kutum'
'Appending Kutum to "city_data"'
'Evaluating city number: 2063036, Port Lincoln'
'Appending Port Lincoln to "city_data"'
'Evaluating city number: 3407755, Amarante do Maranhão'
'Appending Amarante do Maranhão to "city_data"'
'Evaluating city number: 2098329, Daru'
'Appending Daru to "city_data"'
'Evaluating city number: 533418, Lukovetskiy'
'Appending Lukovetskiy to "city_data"'
'Evaluating city number: 2738381, Lata'
'Appending Lata to "city_data"'

'Evaluating city number: 5711847, Astoria'
'Appending Astoria to "city_data"'
'Evaluating city number: 4171522, St. Pete Beach'
'Appending St. Pete Beach to "city_data"'
'Evaluating city number: 872144, Sovkhoznyy'
'Appending Sovkhoznyy to "city_data"'
'Evaluating city number: 596867, Molėtai'
'Appending Molėtai to "city_data"'
'Evaluating city number: 1057095, Sakaraha'
'Appending Sakaraha to "city_data"'
'Evaluating city number: 2345521, Damaturu'
'Appending Damaturu to "city_data"'
'Evaluating city number: 2022773, Khandyga'
'Appending Khandyga to "city_data"'
'Evaluating city number: 1267394, Kāvali'
'Appending Kāvali to "city_data"'
'Evaluating city number: 1519030, Chu'
'Appending Chu to "city_data"'
'Evaluating city number: 2161515, Kiama'
'Appending Kiama to "city_data"'
'Evaluating city number: 1847947, Shingū'
'Appending Shingū to "city_data"'
'Evaluating city number: 898947, Senanga'
'Appending Senanga to "city_data"'
'Evaluating city number: 1514792, Gazojak'
'Appending Gazojak to "city_data"'
"Evaluating city number: 527321, Mezen'"
'Appending Mezen\' to "city_data"'
'Evaluating city number: 1492566, Severo-Yeniseyskiy'
'Appending Severo-Yeniseyskiy to "city_data"'
'Evaluating city number: 5640350, Billings Metropolitan Area'
'Appending Billings Metropolitan Area to "city_data"'
'Evaluating city number: 2027042, Batagay-Alyta'
'Appending Batagay-Alyta to "city_data"'
'Evaluating city number: 1510689, Baykit'
'Appending Baykit to "city_data"'
'Evaluating city number: 3925212, Cacoal'
'Appending Cacoal to "city_data"'
'Evaluating city number: 2122090, Pevek'
'Appending Pevek to "city_data"'
'Evaluating city number: 4845585, Westport'
'Appending Westport to "city_data"'
'Evaluating city number: 1263610, Manthani'
'Appending Manthani to "city_data"'
'Evaluating city number: 1831112, Kampot'
'Appending Kampot to "city_data"'
'Evaluating city number: 118063, Sabzawār'
'Appending Sabzawār to "city_data"'
'Evaluating city number: 1629380, Ruteng'
'Appending Ruteng to "city_data"'
'Evaluating city number: 3380290, Sinnamary'
'Appending Sinnamary to "city_data"'
'Evaluating city number: 53654, Mogadishu'
'Appending Mogadishu to "city_data"'
'Evaluating city number: 3461525, Ibotirama'
'Appending Ibotirama to "city_data"'
'Evaluating city number: 3894426, Coyhaique'
'Appending Coyhaique to "city_data"'
'Evaluating city number: 917688, Chongwe'
'Appending Chongwe to "city_data"'
'Evaluating city number: 2068079, Kwinana'
'Appending Kwinana to "city_data"'
'Evaluating city number: 1067565, Beloha'
'Appending Beloha to "city_data"'
'Evaluating city number: 3901903, Uyuni'
'Appending Uyuni to "city_data"'
'Evaluating city number: 3120811, Hernani'
'Appending Hernani to "city_data"'
'Evaluating city number: 556268, Ostrovnoy'
'Appending Ostrovnoy to "city_data"'
'Evaluating city number: 1631905, Payakumbuh'
'Appending Payakumbuh to "city_data"'
'Evaluating city number: 2448083, Agadez'
'Appending Agadez to "city_data"'
'Evaluating city number: 2374583, Bubaque'
'Appending Bubaque to "city_data"'
'Evaluating city number: 3480908, La Asuncion'
'Appending La Asuncion to "city_data"'
'Evaluating city number: 2194098, Ahipara'
'Appending Ahipara to "city_data"'
'Evaluating city number: 3470137, Belmonte'
'Appending Belmonte to "city_data"'
'Evaluating city number: 3381041, Mana'
'Appending Mana to "city_data"'
'Evaluating city number: 6113406, Prince Rupert'
'Appending Prince Rupert to "city_data"'
'Evaluating city number: 3838859, Río Gallegos'
'Appending Río Gallegos to "city_data"'
'Evaluating city number: 1271439, Gaya'
'Appending Gaya to "city_data"'
'Evaluating city number: 6144312, Sept-Îles'
'Appending Sept-Îles to "city_data"'
'Evaluating city number: 1490036, Tashtyp'
'Appending Tashtyp to "city_data"'
'Evaluating city number: 158321, Karema'
'Appending Karema to "city_data"'
'Evaluating city number: 3391889, Pitimbu'
'Appending Pitimbu to "city_data"'
"Evaluating city number: 2121385, Severo-Kuril'sk"
'Appending Severo-Kuril\'sk to "city_data"'
'Evaluating city number: 3372745, Rabo de Peixe'
'Appending Rabo de Peixe to "city_data"'
'Evaluating city number: 5044290, Saint Anthony'
'Appending Saint Anthony to "city_data"'
'Evaluating city number: 3037456, Antibes'
'Appending Antibes to "city_data"'
'Evaluating city number: 2191562, Dunedin'
'Appending Dunedin to "city_data"'

In [6]:
pprint(r_data)

{'base': 'stations',
 'clouds': {'all': 25},
 'cod': 200,
 'coord': {'lat': -45.87, 'lon': 170.5},
 'dt': 1594738659,
 'id': 2191562,
 'main': {'feels_like': 278.94,
          'humidity': 86,
          'pressure': 1009,
          'temp': 280.37,
          'temp_max': 280.37,
          'temp_min': 280.37},
 'name': 'Dunedin',
 'sys': {'country': 'NZ',
         'id': 2031989,
         'sunrise': 1594757647,
         'sunset': 1594790001,
         'type': 3},
 'timezone': 43200,
 'weather': [{'description': 'scattered clouds',
              'icon': '03n',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 270, 'gust': 0.45, 'speed': 0.45}}

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [7]:
# use iloc or loc to select humidity column and then specify conditions (>100) 
#create a dataframe from city_data 
df = pd.DataFrame(city_data)
# seeing if we removed any data from the dataframe
len(df)
df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,CityDate
count,565.000000,565.000000,565.000000,565.000000,565.000000,565.000000,5.650000e+02
mean,19.860106,17.761912,294.167451,68.150442,48.061947,3.458531,1.594739e+09
std,34.011999,90.735645,8.813094,22.100440,37.826471,2.208860,1.205650e+02
min,-54.800000,-179.170000,272.150000,3.000000,0.000000,0.160000,1.594738e+09
25%,-8.610000,-60.630000,287.150000,55.000000,7.000000,1.740000,1.594738e+09
50%,22.890000,24.670000,295.370000,73.000000,41.000000,3.100000,1.594739e+09
75%,48.930000,100.340000,300.950000,86.000000,89.000000,4.600000,1.594739e+09
max,78.220000,179.320000,319.330000,100.000000,100.000000,13.400000,1.594739e+09

In [8]:
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,CityDate
0,Yellowknife,62.46,-114.35,286.15,93,90,8.20,CA,1594738261
1,Albany,42.60,-73.97,298.15,54,0,2.97,US,1594738350
2,Jishou,28.32,109.72,298.28,91,100,1.53,CN,1594738602
3,Ushuaia,-54.80,-68.30,272.15,86,40,1.50,AR,1594738407
4,Port Elizabeth,-33.92,25.57,282.15,87,75,6.20,ZA,1594738414

In [9]:
#creating dataframe without cities with humidity over 100%
df_HumUnder100 = df.loc[df["Humidity"] <= 100]
# checking length of new dataframe
f'There are {len(df_HumUnder100)} cities with humidity 100% or less'

'There are 565 cities with humidity 100% or less'

In [10]:
#  Get the indices of cities that have humidity =< 100%.
df_HumOvr100 = df.loc[df["Humidity"] > 100]
f'There are {len(df_HumOvr100)} cities greater then 100% humidity'

'There are 0 cities greater then 100% humidity'

In [11]:
df_HumUnder100.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,CityDate
0,Yellowknife,62.46,-114.35,286.15,93,90,8.20,CA,1594738261
1,Albany,42.60,-73.97,298.15,54,0,2.97,US,1594738350
2,Jishou,28.32,109.72,298.28,91,100,1.53,CN,1594738602
3,Ushuaia,-54.80,-68.30,272.15,86,40,1.50,AR,1594738407
4,Port Elizabeth,-33.92,25.57,282.15,87,75,6.20,ZA,1594738414

In [12]:
new_df = df.drop(df_HumOvr100.index)
new_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,CityDate
0,Yellowknife,62.46,-114.35,286.15,93,90,8.20,CA,1594738261
1,Albany,42.60,-73.97,298.15,54,0,2.97,US,1594738350
2,Jishou,28.32,109.72,298.28,91,100,1.53,CN,1594738602
3,Ushuaia,-54.80,-68.30,272.15,86,40,1.50,AR,1594738407
4,Port Elizabeth,-33.92,25.57,282.15,87,75,6.20,ZA,1594738414

In [13]:
# converting max temp from Kelvin to Celcius

new_df["Temp (C)"] = new_df["Max Temp"] - 273.15
new_df.drop(["Max Temp"], axis = 1)

,City,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,CityDate,Temp (C)
0,Yellowknife,62.46,-114.35,93,90,8.20,CA,1594738261,13.00
1,Albany,42.60,-73.97,54,0,2.97,US,1594738350,25.00
2,Jishou,28.32,109.72,91,100,1.53,CN,1594738602,25.13
3,Ushuaia,-54.80,-68.30,86,40,1.50,AR,1594738407,-1.00
4,Port Elizabeth,-33.92,25.57,87,75,6.20,ZA,1594738414,9.00
...,...,...,...,...,...,...,...,...,...
560,Severo-Kuril'sk,50.68,156.12,92,96,3.64,RU,1594738423,10.53
561,Rabo de Peixe,37.80,-25.58,61,20,3.10,PT,1594738658,25.00
562,Saint Anthony,45.02,-93.22,88,75,4.34,US,1594738658,23.33
563,Antibes,43.56,7.13,47,75,1.50,FR,1594738658,27.00
564,Dunedin,-45.87,170.50,86,25,0.45,NZ,1594738659,7.22

### Exporting the dataframe to CSV

In [18]:
# df.to_csv('file_name.csv')
new_df.to_csv(output_data_file, index_label="City_ID")

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

In [ ]:
# Setting the figure size
fig = plt.figure(figsize=(10,5))

# #Saving the plot as an image
fig.savefig('line plot.jpg', bbox_inches='tight', dpi=250)

## Latitude vs. Temperature Plot

In [ ]:
x = new_df["Lat"]
y = new_df["Temp (C)"]
fig = plt.figure(figsize=(7,5))
plt.scatter(x, y)
plt.xlabel("Latitude")
plt.ylabel("Degrees Celcius")
plt.title("Latitude vs Deg (C)")
fig.savefig("Scatterplot_1.png", bbox_inches='tight', dpi=250)
plt.show()

## Latitude vs. Humidity Plot

In [ ]:
x = new_df["Lat"]
y = new_df["Humidity"]
fig = plt.figure(figsize=(7,5))
plt.scatter(x, y)
plt.xlabel("Latitude")
plt.ylabel("Humidity (%)")
plt.title("Latitude vs Humidity")
fig.savefig("Scatterplot_2.png", bbox_inches='tight', dpi=250)
plt.show()

## Latitude vs. Cloudiness Plot

In [ ]:
x = new_df["Lat"]
y = new_df["Cloudiness"]
fig = plt.figure(figsize=(7,5))
plt.scatter(x, y)
plt.xlabel("Latitude")
plt.ylabel("Cloudiness")
plt.title("Latitude vs Cloudiness")
fig.savefig("Scatterplot_3.png", bbox_inches='tight', dpi=250)
plt.show()

## Latitude vs. Wind Speed Plot

In [ ]:
x = new_df["Lat"]
y = new_df["Wind Speed"]
fig = plt.figure(figsize=(7,5))
plt.scatter(x, y)
plt.xlabel("Latitude")
plt.ylabel("Wind Speed")
plt.title("Latitude vs Wind Speed")
fig.savefig("Scatterplot_4.png", bbox_inches='tight', dpi=250)
plt.show()

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots
# Add the linear regression equation and line to plot

In [ ]:
# Create Northern and Southern Hemisphere DataFrames
df_NorthHem = new_df.loc[new_df["Lat"] > 0]
df_SouthHem = new_df.loc[new_df["Lat"] < 0]

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
x_Lat = df_NorthHem['Lat']
y_Temp = df_NorthHem['Temp (C)']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Temp)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Temp)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Max Temp (C)')
plt.title("Northern Hemisphere Temp (deg C) vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
x_Lat = df_SouthHem['Lat']
y_Temp = df_SouthHem['Temp (C)']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Temp)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Temp)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Max Temp (C)')
plt.title("Southern Hemisphere Temp (deg C) vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
x_Lat = df_NorthHem['Lat']
y_Hum = df_NorthHem['Humidity']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Hum)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat, y_Hum)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Humidity')
plt.title("Northern Hemisphere Humidity vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
x_Lat = df_SouthHem['Lat']
y_Hum = df_SouthHem['Humidity']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Hum)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Hum)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Humidity')
plt.title("Southern Hemisphere Humidity vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
x_Lat = df_NorthHem['Lat']
y_Cld = df_NorthHem['Cloudiness']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Cld)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Cld)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Cloudiness')
plt.title("Northern Hemisphere Cloudiness vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
x_Lat = df_SouthHem['Lat']
y_Cld = df_SouthHem['Cloudiness']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Cld)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Cld)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Cloudiness')
plt.title("Southern Hemisphere Cloudiness vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
x_Lat = df_NorthHem['Lat']
y_Wnd = df_NorthHem['Wind Speed']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Wnd)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Wnd)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Wind Speed (mpH)')
plt.title("Northern Hemispere Wind Speed (mpH) vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
x_Lat = df_SouthHem['Lat']
y_Wnd = df_SouthHem['Wind Speed']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_Lat, y_Wnd)
regress_values = x_Lat * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_Lat,y_Wnd)
plt.plot(x_Lat, regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Latitude')
plt.ylabel('Wind Speed (mpH)')
plt.title("Southern Hemispere Wind Speed (mpH) vs. Latitude")
print(f"The r-squared value is: {rvalue**2}")
plt.show()